[submodule "assets/i18n/flowmarket-frontend-copywriter"]
	path = assets/i18n/flowmarket-frontend-copywriter
	url = https://github.com/WhiteMatrixTech/flowmarket-frontend-copywriter.git
	branch = main
